:root {
    --white: white;
    --light-gray: #f5f5f5;
    --dark-gray: #333;
    --black: black;
    --orange: #ff8c00;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

#calculator{
    display: grid;
    grid-template-areas: 
        "display display display display"
        "clear negative percentage divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero zero decimal equals";
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    padding: 50px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--black);
}

.dark-gray {
    background-color: var(--dark-gray);
    color: white;
}

.light-gray {
    background-color: var(--light-gray);
}
.yellow {
    background-color: var(--orange);
    color: white;
}

button {
    height: 100px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    width: 100%;
    transition: transform 0.1s ease-in-out;
}

button:active {
    transform: scale(0.95);
}

#answer {
    height: 48px;
    font-size: 48px;
}

#expression {
    font-size: 30px;
    height: 30px;
    color: var(--dark-gray)
}
#display {
    grid-area: display;
}

#clear{ 
    grid-area: clear;
}
#negative {
    grid-area: negative;
}

#percentage {
    grid-area: percentage;
}
#divide {
    grid-area: divide;
}
#multiply {
    grid-area: multiply;
}
#subtract {
    grid-area: subtract;
}
#add {
    grid-area: add;
}
#equals {
    grid-area: equals;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#decimal {
    grid-area: decimal;
}

